/* BRAND COLOURS */
/* DROP SHADOWS */
/* CATEGORY COLOURS */
/* CATEGORIES  */
.goodUx {
  background-color: rgba(195, 171, 139, 0.41); }

.badUx {
  background-color: rgba(255, 177, 174, 0.65); }

.uxDesign {
  background: rgba(251, 192, 230, 0.69); }

.playlists {
  background: rgba(239, 224, 39, 0.41); }

.traveling {
  background: rgba(123, 166, 234, 0.41); }

.books {
  background: rgba(178, 133, 255, 0.44); }

.graphicDesign {
  background: rgba(62, 255, 212, 0.21); }
