@import 'colours'; 

$tan:rgba(195,171,139,0.41);
$salmon: rgba(255,177,174,0.65);
$pink: rgba(251,192,230,0.69);
$yellow: rgba(239,224,39,0.41);
$blue:rgba(123,166,234,0.41);
$purple: rgba(178,133,255,0.44);
$teal: rgba(62,255,212,0.21);


/* CATEGORIES  */

	.goodUx {
	  background-color: $tan; 
	}

	.badUx {
	background-color: $salmon;
	}

	.uxDesign {
		background: $pink;
	}

	.playlists {
		background: $tan;
	}

	.traveling {
		background: $blue;
	}

	.books {
		background: $purple;
	}

	.graphicDesign {
		background: $teal;
	}


