/* Use .setup to get all of this standarized CSS */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* GENERAL STYLES */
/* BRAND COLOURS */
/* DROP SHADOWS */
/* CATEGORY COLOURS */
/* HEADINGS */
h1, h2, h3, h4, h5, h6, a {
  font-family: 'Roboto Mono', monospace;
  margin: 0 0;
  letter-spacing: 0.8px; }

/*BLOG POST >  TITLES */
h1 {
  font-size: 28px;
  line-height: 32px;
  color: #222222; }

/*BLOG POST > SUBTITLES */
h2 {
  font-size: 16px;
  font-weight: normal;
  color: #697582;
  line-height: 21px; }

/*BLOG POST > hello world */
h3 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px; }

/* NAV > I write about */
/*BLOG POST > CATEGORIES */
h4 {
  color: #222222;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 16px; }

/*BLOG POST > Meta Data */
h5 {
  font-size: 10px;
  font-weight: bold;
  color: #697582;
  line-height: 16px; }

/*BLOG POST > READ MORE */
h6 {
  font-size: 11px;
  font-weight: bold;
  color: #697582;
  line-height: 18px; }

/* LISTS */
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

ul li {
  margin: 0 0 0 0;
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside; }

/* LINKS */
/* Navgigation */
nav a {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 44px; }

/* Links */
a.linkUnselected {
  color: #697582;
  font-style: italic;
  text-decoration: none; }

a.linkSelected {
  color: #222222;
  text-decoration: none; }

/* Categories */
a.tag {
  color: #222222;
  display: inline;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  height: 23px;
  line-height: 16px;
  padding: 4px 8px;
  text-decoration: none; }

/* ALL LINKS (HOVER) */
a:hover, a.tag:hover {
  text-decoration: line-through; }

p {
  font-family: 'Open Sans', sans-serif; }

/* CATEGORIES  */
.goodUx {
  background-color: rgba(195, 171, 139, 0.41); }

.badUx {
  background-color: rgba(255, 177, 174, 0.65); }

.uxDesign {
  background: rgba(251, 192, 230, 0.69); }

.playlists {
  background: rgba(239, 224, 39, 0.41); }

.traveling {
  background: rgba(123, 166, 234, 0.41); }

.books {
  background: rgba(178, 133, 255, 0.44); }

.graphicDesign {
  background: rgba(62, 255, 212, 0.21); }

/* BRAND COLOURS */
/* DROP SHADOWS */
/* CATEGORY COLOURS */
/* HEADINGS */
h1, h2, h3, h4, h5, h6, a {
  font-family: 'Roboto Mono', monospace;
  margin: 0 0;
  letter-spacing: 0.8px; }

/*BLOG POST >  TITLES */
h1 {
  font-size: 28px;
  line-height: 32px;
  color: #222222; }

/*BLOG POST > SUBTITLES */
h2 {
  font-size: 16px;
  font-weight: normal;
  color: #697582;
  line-height: 21px; }

/*BLOG POST > hello world */
h3 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px; }

/* NAV > I write about */
/*BLOG POST > CATEGORIES */
h4 {
  color: #222222;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 16px; }

/*BLOG POST > Meta Data */
h5 {
  font-size: 10px;
  font-weight: bold;
  color: #697582;
  line-height: 16px; }

/*BLOG POST > READ MORE */
h6 {
  font-size: 11px;
  font-weight: bold;
  color: #697582;
  line-height: 18px; }

/* LISTS */
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

ul li {
  margin: 0 0 0 0;
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside; }

/* LINKS */
/* Navgigation */
nav a {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 44px; }

/* Links */
a.linkUnselected {
  color: #697582;
  font-style: italic;
  text-decoration: none; }

a.linkSelected {
  color: #222222;
  text-decoration: none; }

/* Categories */
a.tag {
  color: #222222;
  display: inline;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  height: 23px;
  line-height: 16px;
  padding: 4px 8px;
  text-decoration: none; }

/* ALL LINKS (HOVER) */
a:hover, a.tag:hover {
  text-decoration: line-through; }

p {
  font-family: 'Open Sans', sans-serif; }

/* LAYOUT */
/* BRAND COLOURS */
/* DROP SHADOWS */
/* CATEGORY COLOURS */
/* HEADINGS */
h1, h2, h3, h4, h5, h6, a {
  font-family: 'Roboto Mono', monospace;
  margin: 0 0;
  letter-spacing: 0.8px; }

/*BLOG POST >  TITLES */
h1 {
  font-size: 28px;
  line-height: 32px;
  color: #222222; }

/*BLOG POST > SUBTITLES */
h2 {
  font-size: 16px;
  font-weight: normal;
  color: #697582;
  line-height: 21px; }

/*BLOG POST > hello world */
h3 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px; }

/* NAV > I write about */
/*BLOG POST > CATEGORIES */
h4 {
  color: #222222;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 16px; }

/*BLOG POST > Meta Data */
h5 {
  font-size: 10px;
  font-weight: bold;
  color: #697582;
  line-height: 16px; }

/*BLOG POST > READ MORE */
h6 {
  font-size: 11px;
  font-weight: bold;
  color: #697582;
  line-height: 18px; }

/* LISTS */
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

ul li {
  margin: 0 0 0 0;
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside; }

/* LINKS */
/* Navgigation */
nav a {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 44px; }

/* Links */
a.linkUnselected {
  color: #697582;
  font-style: italic;
  text-decoration: none; }

a.linkSelected {
  color: #222222;
  text-decoration: none; }

/* Categories */
a.tag {
  color: #222222;
  display: inline;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  height: 23px;
  line-height: 16px;
  padding: 4px 8px;
  text-decoration: none; }

/* ALL LINKS (HOVER) */
a:hover, a.tag:hover {
  text-decoration: line-through; }

p {
  font-family: 'Open Sans', sans-serif; }

/* CATEGORIES  */
.goodUx {
  background-color: rgba(195, 171, 139, 0.41); }

.badUx {
  background-color: rgba(255, 177, 174, 0.65); }

.uxDesign {
  background: rgba(251, 192, 230, 0.69); }

.playlists {
  background: rgba(239, 224, 39, 0.41); }

.traveling {
  background: rgba(123, 166, 234, 0.41); }

.books {
  background: rgba(178, 133, 255, 0.44); }

.graphicDesign {
  background: rgba(62, 255, 212, 0.21); }

/* BRAND COLOURS */
/* DROP SHADOWS */
/* CATEGORY COLOURS */
/* HEADINGS */
h1, h2, h3, h4, h5, h6, a {
  font-family: 'Roboto Mono', monospace;
  margin: 0 0;
  letter-spacing: 0.8px; }

/*BLOG POST >  TITLES */
h1 {
  font-size: 28px;
  line-height: 32px;
  color: #222222; }

/*BLOG POST > SUBTITLES */
h2 {
  font-size: 16px;
  font-weight: normal;
  color: #697582;
  line-height: 21px; }

/*BLOG POST > hello world */
h3 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px; }

/* NAV > I write about */
/*BLOG POST > CATEGORIES */
h4 {
  color: #222222;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 16px; }

/*BLOG POST > Meta Data */
h5 {
  font-size: 10px;
  font-weight: bold;
  color: #697582;
  line-height: 16px; }

/*BLOG POST > READ MORE */
h6 {
  font-size: 11px;
  font-weight: bold;
  color: #697582;
  line-height: 18px; }

/* LISTS */
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

ul li {
  margin: 0 0 0 0;
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside; }

/* LINKS */
/* Navgigation */
nav a {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 44px; }

/* Links */
a.linkUnselected {
  color: #697582;
  font-style: italic;
  text-decoration: none; }

a.linkSelected {
  color: #222222;
  text-decoration: none; }

/* Categories */
a.tag {
  color: #222222;
  display: inline;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  height: 23px;
  line-height: 16px;
  padding: 4px 8px;
  text-decoration: none; }

/* ALL LINKS (HOVER) */
a:hover, a.tag:hover {
  text-decoration: line-through; }

p {
  font-family: 'Open Sans', sans-serif; }

body {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Open Sans', sans-serif;
  font-family: sans-serif;
  display: block;
  height: 100vh;
  margin: 0;
  /*removes default style*/
  padding: 0;
  width: 100vw;
  background: #FFFFFF; }

.flex-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main-container {
  height: 100%;
  width: 100%; }

/* SIDE NAVIGATION */
nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #E9EAEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  padding: 44px 0;
  max-width: 232px;
  min-width: 232px;
  background: #FFFFFF; }

.flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.nav-logo, .nav-pages {
  margin-bottom: 32px; }

h4.navCategories {
  font-style: normal;
  margin-bottom: 23px; }

ul.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

ul.navLinks li {
  margin: 14px; }

/* MAIN CONTAINER */
main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100% - 232px);
  padding: 44px; }

/* ARTICLE */
/* BRAND COLOURS */
/* DROP SHADOWS */
/* CATEGORY COLOURS */
/* HEADINGS */
h1, h2, h3, h4, h5, h6, a {
  font-family: 'Roboto Mono', monospace;
  margin: 0 0;
  letter-spacing: 0.8px; }

/*BLOG POST >  TITLES */
h1 {
  font-size: 28px;
  line-height: 32px;
  color: #222222; }

/*BLOG POST > SUBTITLES */
h2 {
  font-size: 16px;
  font-weight: normal;
  color: #697582;
  line-height: 21px; }

/*BLOG POST > hello world */
h3 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px; }

/* NAV > I write about */
/*BLOG POST > CATEGORIES */
h4 {
  color: #222222;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 16px; }

/*BLOG POST > Meta Data */
h5 {
  font-size: 10px;
  font-weight: bold;
  color: #697582;
  line-height: 16px; }

/*BLOG POST > READ MORE */
h6 {
  font-size: 11px;
  font-weight: bold;
  color: #697582;
  line-height: 18px; }

/* LISTS */
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

ul li {
  margin: 0 0 0 0;
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside; }

/* LINKS */
/* Navgigation */
nav a {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 44px; }

/* Links */
a.linkUnselected {
  color: #697582;
  font-style: italic;
  text-decoration: none; }

a.linkSelected {
  color: #222222;
  text-decoration: none; }

/* Categories */
a.tag {
  color: #222222;
  display: inline;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  height: 23px;
  line-height: 16px;
  padding: 4px 8px;
  text-decoration: none; }

/* ALL LINKS (HOVER) */
a:hover, a.tag:hover {
  text-decoration: line-through; }

p {
  font-family: 'Open Sans', sans-serif; }

/*  Blog Post Container */
.blogPost {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #E9EAEC;
  -webkit-box-shadow: 0 0 23px 0 rgba(228, 230, 232, 0.23);
  box-shadow: 0 0 23px 0 rgba(228, 230, 232, 0.23);
  margin: 0 0 44px 0;
  padding: 23px 23px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.blogPost:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 0 0 23px 0 rgba(195, 195, 195, 0.32);
  box-shadow: 0 0 23px 0 rgba(195, 195, 195, 0.32); }

/*  Category Tag  */
.category {
  margin-bottom: 15px; }

/*  FEATURE IMAGE  */
.featuredImage {
  margin: 28px 0; }

.featuredImage img {
  width: 100%;
  height: auto; }

p.postPreview {
  font-size: 13px;
  color: #404F60;
  line-height: 23px; }

/* BRAND COLOURS */
/* DROP SHADOWS */
/* CATEGORY COLOURS */
/* HEADINGS */
h1, h2, h3, h4, h5, h6, a {
  font-family: 'Roboto Mono', monospace;
  margin: 0 0;
  letter-spacing: 0.8px; }

/*BLOG POST >  TITLES */
h1 {
  font-size: 28px;
  line-height: 32px;
  color: #222222; }

/*BLOG POST > SUBTITLES */
h2 {
  font-size: 16px;
  font-weight: normal;
  color: #697582;
  line-height: 21px; }

/*BLOG POST > hello world */
h3 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px; }

/* NAV > I write about */
/*BLOG POST > CATEGORIES */
h4 {
  color: #222222;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  line-height: 16px; }

/*BLOG POST > Meta Data */
h5 {
  font-size: 10px;
  font-weight: bold;
  color: #697582;
  line-height: 16px; }

/*BLOG POST > READ MORE */
h6 {
  font-size: 11px;
  font-weight: bold;
  color: #697582;
  line-height: 18px; }

/* LISTS */
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

ul li {
  margin: 0 0 0 0;
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside; }

/* LINKS */
/* Navgigation */
nav a {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 44px; }

/* Links */
a.linkUnselected {
  color: #697582;
  font-style: italic;
  text-decoration: none; }

a.linkSelected {
  color: #222222;
  text-decoration: none; }

/* Categories */
a.tag {
  color: #222222;
  display: inline;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  height: 23px;
  line-height: 16px;
  padding: 4px 8px;
  text-decoration: none; }

/* ALL LINKS (HOVER) */
a:hover, a.tag:hover {
  text-decoration: line-through; }

p {
  font-family: 'Open Sans', sans-serif; }

section {
  width: 100vw; }

header {
  padding: 23px 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 23px 0 rgba(228, 230, 232, 0.23);
  box-shadow: 0 0 23px 0 rgba(228, 230, 232, 0.23);
  border-bottom: 1px solid #E9EAEC;
  opacity: 0.8; }

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0 23px; }

aside.blog-post-container {
  margin: 44px auto;
  width: 80%; }

.article-width {
  margin: 0 auto;
  padding: 0 23px; }

.featuredImage {
  margin: 32px auto;
  width: 100%; }

p.post-body {
  font-size: 18px;
  line-height: 44px; }
